{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    {% tailwind_css %}
  </head>


  <body class="bg-pink-50">
    {% include 'partials/navbar.html' %}
    
    {% block content %} {% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
    <script>
      document.querySelector(".clear-storage").onclick = function() {
        localStorage.clear();
      };
    </script>

  </body>
</html>
